/* Auto Dark Theme */

:root {
    --primary-color: #003366;
    --secondary-color: #007BFF;
    --neutral-background: #FFFFFF;
    --neutral-contrast: #F4F7F9;
    --accent-color: #3198ff;
    
    --event-date-color: #555;
    --event-location-color: #666;
    --border-color: #000;
}

@media (prefers-color-scheme: dark) {
    :root {
        --primary-color: #003366;
        --secondary-color: #002b59;
        --neutral-background: #121212;
        --neutral-contrast: #1b1b1b;
        --accent-color: #123e69;

        --event-date-color: #AAAAAA;
        --event-location-color: #999999;
        --border-color: #363636;
    }

    body {
        background-color: var(--neutral-background);
        color: white;
    }

    input {
        color: white;
    }

    .search-icon {
        filter: invert(100%);
    }

    .event-card {
        background: var(--neutral-background);
        border: 2px solid #ffffff;
    }
}