.event-card {
    background: white;
    border: 2px solid #000;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    & .event-image{
        transition: transform 0.3s ease-in-out;
        display: inline-block;
        &:hover{
            transform: scale(1.05)
        }
    }

    &.event-past {
        opacity: 0.7;

        & .event-image {
            filter: grayscale(100%);
        }

        & .info-button {
            background-color: #777;
        }

        & .info-button:hover {
            background-color: #999999;
        }
    }
}

/* Auto Dark Theme */
@media (prefers-color-scheme: dark) {
    .event-card {
        background: var(--neutral-background);
        border: 2px solid #ffffff;
    }
}